{
  "mcpServers": {
    "trello": {
      "command": "npx",
      "args": [
        "-y",
        "@delorenj/mcp-server-trello"
      ],
      "env": {
        "TRELLO_API_KEY": "",
        "TRELLO_TOKEN": ""
      }
    },
    "tessl": {
      "type": "stdio",
      "command": "tessl",
      "args": [
        "mcp",
        "start"
      ]
    }
  }
}
